.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

src-*
/src/views/Editor.vue
/src/views/home.vue
/src/components/_TagsView_v1.vue
/src/components/_TagsView_v2.vue
/src/components/_TagsView_v3.vue
/src/testt.js
/src/components/Confirm.vue
/src/components/pwd.html
/src/components/scroll-panel.vue
/src/test/
/src/__Manage.vue
/src/__router.js
/src/__main.js
/src/views/area/
/src/views/interview/
/src/views/study/javaBaseList.vue
/src/views/study/_old_javaFramesList.vue
/src/store/__store.js
